[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "windsoraiR"]
	path = windsoraiR
	url = https://github.com/windsor-ai/windsorair
